#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
     display: none;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;

}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 70px;
    height: 70px;
    opacity: 1;
    transition: all .2s;
}
.item{background: rgba(255,255,255,0.4);padding:20px;border-radius: 20px;box-shadow: 0px 20px 10px #000;}
.item p {line-height: 30px;}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.blog-main-section{
background-size: cover;
align-items: center;}
body{
    font-family: 'Oswald', sans-serif;
}
.blog-content h1{margin-top: 0px;padding-top: 0px;}
.btn-default{background: #073930;color: #fff;}
.no-padding{padding:0px;}
.article-full{background: #eee;padding:20px 0px;}
.article-list ul li{line-height: 30px;}


.page p {
    margin: 20px 0 0 0;
    color: #051323;
    line-height: 1.65;
    font-family: 'Open Sans',sans-serif;
    outline: 0 !important;
    word-wrap: break-word;
    font-size: 16px;
    -moz-outline-style: none !important;
}