input[type=url]{
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #985f0d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

input[type=submit]:hover {
    background-color: #8b1014;
}

label{
    background-color: #8b1014;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding-top: 20px;
    width: 100%;
    color: #0b0b0b;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8b1014;
    color: white;
}

#imageAnnotationCounter{
    margin:50px auto 50px auto;
    padding: 50px;
    vertical-align: middle;
    text-align: center;
    width:auto;
    max-width: 500px;
    height: auto;
    color: #8b1014;
}
#imageAnnotationCounter div{
    height: 80px;
    vertical-align: baseline;
    display: inline-block;
    border:#8b1014 dashed 5px;
    font-size: 80px;
    line-height: 95px;
    margin: 0;
    padding: 10px;
}

button {
    background-color: #0b0b0b;.
border: none;
    color: white;
    padding-top: 4px;
    padding-right: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
button:hover {
    background-color: #8b1014;
    cursor: pointer;
}

img{
    border: 1px solid #8b1014;
    height: 400px;
    width: 400px;
    background: url("/assets/spinner.gif") center no-repeat;
}
.column {
    float: left;
    width: 25%;
    min-width: 400px;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
