@(userId: String, amount: String, orderId: String, hash: String )
<html>
    <head>
        <title>Merchant Check Out Page</title>
    </head>
    <body>
        <div align="center">
            <h1>
            Please do not refresh this page...
            </h1>
        </div>
        <form method="post" action="https://securegw-stage.paytm.in/theia/processTransaction" name="f1">
            <input type="hidden" name="MID" value="LANDPE06640339647382">
            <input type="hidden" name="CHANNEL_ID" value="WAP">
            <input type="hidden" name="INDUSTRY_TYPE_ID" value="Retail">
            <input type="hidden" name="WEBSITE" value="APP_STAGING">
            <input type="hidden" name="CALLBACK_URL" value="https://pguat.paytm.com/paytmchecksum/paytmCallback.jsp">
            <input type="hidden" name="CUST_ID" value="@userId">
            <input type="hidden" name="ORDER_ID" value="@orderId">
            <input type="hidden" name="TXN_AMOUNT" value="@amount">
            <input type="hidden" name="CHECKSUMHASH" value="@hash">
            <script type="text/javascript">
                    document.f1.submit();
            </script>
        </form>
</body>
</html>