@main("Welcome to Play") {
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">About Us</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadCrumb"><a href="#.">Home</a> / <span>About Us</span></div>
            </div>
        </div>
    </div>
</div>
    <!-- Page Title End -->

<div class="innerpgWraper">
    <div class="container">
        <div class="about-desc">
            <div class="row">
                <div class="col-md-12">
                    <h3>Our Vision</h3>
                    <p><i>‘Never to reject, for any consideration personal to himself or herself, the cause of the defenseless or the oppressed.’</i>
                        <br/>
                        <br/>
                        We realise the nobleness of the valued legal profession and our moral duty towards the community. We aim to represent the underrepresented in our society, to ensure that justice exists for all, both legal, economic & social justice.
                    </p>
                    <h3> Our Team </h3>
                    <p>
			We realise that there is a strong need to offer solution-driven services that can set right your griev-ances, simply by giving a timely right opinion. With the growing number of regulations and complex urban life, people are unable to match the pace. People are often afraid to address and discuss their legal, commercial and personal issues with professionals owing to, primarily, the heavy fee structures and the complex vicious circle that they dread becoming a part of. Through TAKE OUR OPIN-ION.com, we intend to remove this fear and offer the best opinion at the most affordable prices and act as your daily referral.<br/><br/>

                        We boost of an highly capable pool of intellectual resources who have more than a decade of experi-ence in resolving complex legal, commercial and personal issues other than health and medical trib-ulations. Our commitment towards excellence is ingrained deep in our work culture, which extends to not only serving our clients but also the community at large. The members of the team represent a

                        diverse, mixed and rich experience in all the industries and aspects of life. Individually and collec-tively as a team, our members have many accolades to their name and are very well regarded for their expertise in their respective specialism by clients and peers. Our team members and panelists’ are acknowledged by the industry peers for their in-depth know-how, together with highly trained teams, we are able to provide clients with bespoke solutions and exceptional service.<br/><br/>

                        Our aim is to provide clients, access to high quality advice and our endeavour is to effectively man-age the risks of our clients in the manner that is practical, workable, cost-effective and enables the client to extract optimum value from a business initiative.<br/><br/>

                        We are driven by our vision to bring about a difference in the community and happiness & justice to all.
			</p>

                </div>

            </div>
        </div>
    </div>
</div>

    <!-- Team -->
<div id="team" class="parallax-section">
    <div class="container">

            <!-- Dection Title -->
        <div class="section-title">
            <h3>Our  <span>Team</span></h3>
            <p>Piyush N. Jain - <a href= https://www.facebook.com/jainpiyush124> facebook </a> <br>
                Gaurav Jain - <a href = https://www.facebook.com/frenz4gaurav>facebook</a> <br/>
                Mayank Agarwal - <a href = https://www.facebook.com/mayank.agarwal.165033>facebook</a> - <a href=https://www.linkedin.com/in/mayank-agarwal-62ab6340/> Linkedin</p>
        </div>
        <div class="row">

      </div>
    </div>
</div>
}