@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <div class="tp-banner-container" id="slider">
        <div class="tp-banner" >
            <a href="/contact-us.php"><img alt="law books background" src="/assets/banner2.jpg"></a>
            <div class="sliderTextContainer">
                <div class="caption lfb large-title tp-resizeme slidertext2" data-x="right" data-y="200" data-speed="600" data-start="1000">
                    <a href="/contact-us.php" >
                        I Want An Opinion
                    </a>
                </div>
                <div class="caption lfb large-title tp-resizeme slidertext1" data-x="right" data-y="240" data-speed="600" data-start="1600">
                    <a href="/contact-us.php">The experience you need , The opinion you can trust</a>
                </div>
            </div>
        </div>
    </div>
        <!-- Revolution slider end -->
        <!-- Revolution slider end -->

        <!-- About section -->
    <div class="howitwrap" id="about">
        <div class="fullimg profileImage"></div>
        <div class="stcontent">

                <!-- title start -->
            <div class="section-title">
                <h3> <i>Pro Bono Publico… </i></h3>
                <p>Our society has major unmet legal needs that adversely affect low and middle income families. It’s a situation that threatens the well-being of our democracy. As lawyers, we have an obligation to provide legal services to those who are without the wherewithal to pay escalated fees, to respond to  their needs which are outside themselves, thus help repair tears in the communities.

                    We hustle to make your life stress-free by resolving your redressals in a transparent manner alongside teaching you about your rights and the dreaded coded laws and restoring justice for you.  </p> <br/>
                <h3><i>Our Vision</i></h3>
                <p><i>"Never to reject, for any consideration personal to himself or herself, the cause of the defenseless or the oppressed." </i> <br/><br/>

                    We realise the nobleness of our valued profession and our moral duty towards the community. We aim to represent the underrepresented in our society to ensure that justice exists for all, both legal and economic justice.</p>
            </div>
                <!-- title end -->




        </div>
        <div class="clearfix"></div>
    </div>



    <br/>

        <!-- Tagline -->
    <div class="servicesbox bg1">
        <div class="container">
            <div class="section-title">
                <h3>Our Services</h3>
            </div>
            <div class="ctoggle">
                <p>Time is the essence for all your grievances and we strive to the epitome of our capacity and capability to deliver timely, the best solution to all your hassles. Further to our vision, your first consultation would be free of charge and will assist you in all possible ways to negotiate your case for you, with your best interest in mind.
                    For strategising your case, potential or ongoing litigation or resolving any issue, feel free to get in touch with us at mayank.agarwal@@takeouropinion.com or directly approach us at +91 9555763955       </p>
                <a href="./services.html" class="readmore">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
        </div>
    </div>

        <!-- Team Section -->



        <!-- Tagline Section -->
    <div class="taglinewrap">
        <div class="container">
            <h2>Ask us a question now!</h2>

            <p>Avail a preliminary, fresh or a second opinion on the given facts of your case @@ INR 99/- </p>
            <a href="contact-us.php"><i  aria-hidden="true"></i> Ask now</a> </div>
    </div>


    <div class="col-md-6">


    </div>
    </div>
    </div>

        <!-- Testimonials Section -->
    <div id="testimonials">
        <div class="container">

                <!-- Section Title -->
            <div class="section-title">
                <h3>Testimonials</h3>
                <p>See What Our Clients Saying!</p>
            </div>
            <ul class="testimonialsList">
                    <!-- Client -->
                <li class="item">
                    <p>"The people at take our opinion have been pheonomenal at answering our queries. The website was an easy way for us to get our doubts handled. They soon became our go to people. With the optimum amount of forthrightness and proactive approach these bunch of lawyers are the best we have ever worked with."</p>
                    <div class="clientname">Mammoth Gears</div>
                    <div class="clientinfo">-</div>
                </li>

                    <!-- Client -->
                <li class="item">
                    <p>"Right advice is not easy to come by, with takeouropinion.com it was the BEST 99 rupees I have ever spent. In the time when lawyers and CA's bully their way through with everything, these guys helped us in a right direction."</p>
                    <div class="clientname">Jay parekh </div>
                    <div class="clientinfo">Iron head prodcutions</div>
                </li>

                    <!-- Client -->
                <li class="item">
                    <p>"Besides experience, takeouropinion brings a reputation for unparalleled commitment and integrity. To us, a well established Indian gaming company, that reputation is priceless."</p>
                    <div class="clientname">Entity Gaming</div>
                    <div class="clientinfo">-</div>
                </li>

                    <!-- Client -->
                <li class="item">
                    <p>"This is without a doubt, a person of professional caliber. Mr. Aggarwal has been very easy to work with on a variety of business legal matters. He and his associates have efficiently handled them all and obtained the results we were hoping for. We will continue to retain their services throughout the life-time of our company."</p>
                    <div class="clientname"> Vikram Sood</div>
                    <div class="clientinfo">Jaimon Enterprises</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="faqs" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="faqs">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="" href="#collapse1">What is TAKE OUR OPINION.com?</a> </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">TAKE OUR OPINION.com is a single window for all your varied daily problems. We all hustle for an opinion on a regular basis. Life is complex and TAKE OUR OPINION.com, simplifies it by giving you the right opinion in a timely manner. </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> Why TAKE OUR OPINON.com?</a> </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">It gives you the Experience you need and the opinions you can trust, directly from the professionals, who possess rich and diverse experiences in dealing and resolving complex legal, commercial and personals issues.</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3"> Who are we?</a> </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">We are a pool of highly capable intellectual resources who have more than a decade of experience in resolving complex legal, commercial and personal issues other than health and medical tribulations. The members of the team represent a diverse, mixed and rich experience in all the industries and aspects of life. Individually and collectively as a team, our members have many accolades to their name and are very well regarded for their expertise in their respective specialism by clients and peers. Our team members and panelists’ are acknowledged by the industry peers for their in-depth know-how, together with highly trained teams, we are able to provide clients with bespoke solutions and exceptional service.</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4">How does it work?</a> </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">We have opined the Opinion @@ 51/- forum to act as your daily referral. To resolve or all the day to day daily hassles, issues, questions and queries, enabling you to lead to a peaceful stress free life and securing you commercially and legally.   </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
