@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import java.util.Date
@(x: Seq[(Int, String, String, String, String, String, String)], articleCounter: Int, jobCounter: Int)
@main("Welcome to Titanicturer") {
    <div align="center">
        <h1>Active crawl JOBS: @jobCounter</h1>
        <form action="/e/">
            <input placeholder="Enter URL here" name="url" />
            <input type="submit" value="Crawl">
        </form>
    </div>
    <div class="container">
    <h1>No of articles: @articleCounter</h1>
    <div class="row">
        @for(y <-x ) {
        <div class="col-md-12">
            <h3>
                <a href="/news/@y._1">
                   @y._4
                </a>
            </h3>
            <p class="lead">
                @if(y._5.length > 0){
                    <img width="150px" height="150px" src="@y._5" align="left" title="@y._4" alt="@y._2">
                }
                @y._7&nbsp;&nbsp;<a href="/news/@y._1">Read</a>
                @*
                 *if(y._5.length <= 512){
                 *    @Html(y._5)
                 *} else{
                 *    @Html(y._5.take(y._5.lastIndexWhere(_.isWhitespace, 513)).trim)
                 *
                 *}
                 *@
            </p>
            <p>
                <strong>Source:</strong> <img src="@y._3" />@y._2
            </p>
            <hr>
        </div>
        }
    </div>
    </div>
}
