@(loginForm: Form[UserLoginForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@import helper._

    <!-- Breadcumb Area -->
    <section class="breadcumb-area breadcumb-bg bg1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Login</h3>
                    <h5>Take our opinion</h5>
                    <a href="index.html">Home</a><span class="slash">/</span><span>Signup</span>
                </div>
            </div>
        </div>
    </section>
        <!-- Breadcumb Area End-->
        <!-- Our attorneys content area   -->
    <section class="our-attorneys-main-content-area section-padding">
        <div class="container">
            <div class="row">
                <div class="awards-education-contact-experience-wrapper clearfix">
                    <div class="col-md-4">
                    @awards()
                    </div>
                    <div class="col-md-8">
                        <div class="awards-education-contact-experience-inner-wrapper">
                            <div class="education-section">
                                <div class="section-title-3">
                                    <h3>Login</h3>
                                </div>

                                <div class="education-details">
                                    @if(loginForm.hasGlobalErrors) {
                                        <ul>
                                        @for(error <- loginForm.globalErrors) {
                                            <li>@error.format</li>
                                        }
                                        </ul>
                                    }
                                    @helper.form(action = routes.HomeController.loginPost) {
                                        <div class="form-group">
                                            <label for="@loginForm("email").id">Email:</label>
                                            <input class="form-control" type="text" placeholder="Email" value="@loginForm("email").value" name="@loginForm("email").name" id="@loginForm("email").id">
                                            @for(err <- loginForm("email").errors) {
                                                @err.format
                                                <br />
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label for="@loginForm("password").id">Password:</label>
                                            <input type="password" class="form-control" type="text" placeholder="Password" value="@loginForm("password").value" name="@loginForm("password").name" id="@loginForm("password").id">
                                            @for(err <- loginForm("password").errors) {
                                                @err.format
                                                <br />
                                            }
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-danger my_btn btn-block" name="sendemail" value="Login">
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}