@(loginForm: Form[UserLoginForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Login | Ask my opinion") {
    <section>
        <div align="center">
            <!--
            <form>
                <fieldset>
                    <legend>Login to Ask my opinion</legend>
                    <input placeholder="Email" name="email" />
                    <br />
                    <input placeholder="Password" name="password" />
                    <br />
                    <input type="submit" />
                </fieldset>
            </form>-->
            @if(loginForm.hasGlobalErrors) {
                <ul>
                @for(error <- loginForm.globalErrors) {
                    <li>@error.format</li>
                }
                </ul>
            }
            @helper.form(action = routes.HomeController.loginPost) {
                @CSRF.formField
                @helper.inputText(loginForm("email"))
                @helper.inputPassword(loginForm("password"))
                <input type="submit" />
            }

        </div>
    </section>
}