@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>Take Our Opinion</title>

            <!-- Bootstrap css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">

            <!-- Fontawesome css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.min.css")">


            <!-- Magnific-popup css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/magnific-popup.css")">

            <!-- Owl Carousel css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/owl.theme.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/owl.carousel.css")">

            <!-- Main css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
        <!--<link rel="stylesheet" href="@routes.Assets.versioned("css/materialize.min.css")">-->
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    <script src="@routes.Assets.versioned("jquery-1.10.2.min.js")"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
        <div class="modal">
            <div class="modal_close close"></div>
            <div class="modal_main">
                <div id="dialog-window">
                    <div id="scrollable-content">
                        <h1 align="center"> Disclaimer and Refund Policy </h1>
                        <p>
                            <br/>1. The opinion rendered is a high-level summary of query submitted by you. The note does not contain detailed processes and conditions prescribed under various applicable laws, if applicable, subject to your query.

                            <br/>2. We do not purport to be experts on and do not purport to be generally familiar with or qualified to express legal opinions based on any law, other than the laws of India. We accordingly express no opinion as to matters governed by any law other than the laws of the Republic of India. Any change in factual circumstances and assumptions may lead to changes in the views expressed and suggestions made herein.

                            <br/>3. The views expressed in the opinion are based strictly on the query submitted by you. Any change in facts or assumption may have an impact on the opinion. This opinion should not be read as a response with respect to any other factual or legal matters.

                            <br/>4. Our views are based on the existing provisions of applicable Indian laws, rules and regulations and our personal interpretation thereof. No assurance is given that the Courts, tribunal or any other authority may concur with the views expressed herein.

                            <br/>5. Other than as expressly stated in this opinion, we express no views on any other related or other issues.

                            <br/>6. The opinion is addressed to the concerned person who has submitted the query for his benefit solely and may not be relied upon by any other person.

                            <br/>7. The opinion provided is on an as-is basis without any warranty and/or liability of any kind, either express or implied, including without limitation, any loss, damage, stress or fitness for a particular purpose. The opinion rendered on your submitted query is been analysed to the best of our knowledge and experience. Further, we will assume no liability or responsibility for any loss or damage caused to you, resultant from your any of your actions, including but not limited to, any omission or commission, related to the query submitted.

                            <br/>8. We disclaim any undertaking to advise you of changes which hereafter may be brought to our attention or due to change in applicable laws which may impact our opinion herein.<br/><br/>
                            Refund policy - Please note that once you have received an opinion on the submitted query there will no be refund under any circusmtances.<br/>
                        </p>
                    </div>

                    <div id="modalFooter" align="center">
                        <button class="waves-effect waves-light btn modalClose1"> Accept </button>
                            &nbsp;&nbsp;&nbsp;
                        <button class="waves-effect waves-light btn red modalClose2"> Deny </button>
                    </div>
                </div>
            </div>
        </div>

            <!-- PRE LOADER -->
        <div class="preloader">
            <div class="cssload-dots">
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
            </div>
        </div>

            <!-- Navigation Section -->
        <div class="navbar custom-navbar" role="navigation" id="header">
            <div class="container">

                    <!-- NAVBAR HEADER -->
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button>
                        <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">
                        <img src="/assets/logo.png" class="whtlogo" alt="" />
                        <img src="/assets/logo.png" class="logocolor" alt=""></a>
                </div>

                    <!-- NAVIGATION LINKS -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home </a></li>
                        <li><a href="/aboutus">About</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/ask">Opinion @@ INR 99/-</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>

                            <!--<li><span class="calltxt"><i class="fa fa-phone" aria-hidden="true"></i>022 - 22066649</span></li> -->
                    </ul>
                </div>
            </div>
        </div>
            @content
        <!-- Footer Section -->
        <div class="site-footer">
                <!-- copyright start -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-6">Copyright &copy; 2018 <span>Take Our Opinion</span>| <a href="@routes.HomeController.tnc()"> Terms and Conditions </a>
                            |
                        <a href="@routes.HomeController.privacyPolicy()"> Privacy Policy </a></div>
                        <div class="col-md-12 col-md-6 text-right">Design &amp; Development By: <a href="https://www.mediaflix.com/ravinderpayal">Mediaflix</a></div>
                    </div>
                </div>
            </div>
                <!-- copyright end -->
        </div>
            <!-- Bootstrap -->
        <script src="@routes.Assets.versioned("/js/jquery-2.1.4.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/bootstrap.min.js")"></script>
            <!-- Popup -->
        <script src="@routes.Assets.versioned("/js/jquery.magnific-popup.min.js")"></script>
        <script src="@routes.Assets.versioned("/js/magnific-popup-options.js")"></script>
            <!-- Carousel -->
        <script src="@routes.Assets.versioned("/js/owl.carousel.js")"></script>
            <!-- Sticky Header -->
        <script src="@routes.Assets.versioned("/js/jquery.sticky.js")"></script>
            <!-- Parallax -->
        <script src="@routes.Assets.versioned("/js/jquery.parallax.js")"></script>
            <!-- Counter -->
        <script src="@routes.Assets.versioned("/js/counter.js")"></script>
        <script src="@routes.Assets.versioned("/js/smoothscroll.js")"></script>
            <!-- Custom -->
        <script src="@routes.Assets.versioned("/js/custom.js")"></script>
    </body>
</html>