@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)


<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <title>@title</title>

            <!-- Main css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("style.css")">
        <script src="@routes.Assets.versioned("jquery-1.10.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>