@main("Welcome to Play") {
    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Services</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb">
                        <a href="#.">Home</a> /
                        <span>Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Page Title End -->

    <div class="innerpgWraper">
        <div class="container">
            <div class="about-desc">
                <div class="row">
                    <div class="col-md-7">

                            <!-- section -->
                        <div id="service" class="parallax-section">
                            <div class="container">

                                <img src="/assets/images/anything_image_too.png" height="500px" >
                                <img src="/assets/images/services_graphic.png" height="300px" >
                                <h3>Services</h3>
                                <p>Time is the essence for all your grievances and we strive to the epitome of our capacity and capability to deliver timely and the best solution to all your hassles. Further to our vision, your first consultation would be free of charge and will assist you in all possible ways to seek redressal to your grievances and stress.<br/>
                                    Further, to our Vision, our intend in not profiteering, we do not recommend an aggressive and costly action to your problems, unless needed. We aim at amicable settlement and negotiations, so that no hardship is caused to the client.<br/>
                                    For strategising your case, potential or ongoing litigation or resolving any issue, feel free to get in directly touch with us at mayank.agarwal@@takeouropinion.com or directly approach us @@ +91-9555763955 / 022 - 22066649 <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}